div{
    width: 1000px;
    height: 75px;
    transition: 5s;
}
h1{
    color: fuchsia;
    font-style: italic;
    font-size: 100px;
}
.box1{
    background-color: teal;
    width: 1000px;
    height: 75px;
    transition: 5s;
}
.box1:hover{
background-color: red;
}
.box2{
    background-color: teal;
    width: 1000px;
    height: 75px;
    transition: 5s;
}
.box2:hover{
background-color: orange;
}
.box3{
    background-color: teal;
    width: 1000px;
    height: 75px;
    transition: 5s;
}
.box3:hover{
    background-color: yellow;

}
.box4{
    background-color: teal;
    width: 1000px;
    height: 75px;
    transition: 5s;
}
.box4:hover{
    background-color: blue;
}
.box5{
    background-color: teal;
    width: 1000px;
    height: 75px;
    transition: 5s;
}
.box5:hover{
    background-color: green;
}
.box6{
    background-color: teal;
    width: 1000px;
    height: 75px;
    transition: 5s;
}
.box6:hover{
background-color: royalblue;
}
.box7{
    background-color: teal;
    width: 1000px;
    height: 75px;
    transition: 5s;
}
.box7:hover{
    background-color: purple;
}
body{
    background-color: black;
}
