div{
    border: 3px black solid;
    margin: 30px auto;
    padding: 100px 80px;
    width: 300px;
    font-size:xx-large;
    text-align:center;
    background-color:teal;
    font-style: normal;
}

